/**MAIN INDEX**/

main {
    grid-area: main;
    background-color: black;
    z-index: 3;
    background-size: cover;
    height: 799px;
}

.imagenIndex {
    img {
        width: 300px;
        height: 300px;
        padding: 10px;
        opacity: 1;
    }

    @include img-flex
}

.title {
    color: $color-text;
    background-image: url("../img/local1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 20rem;
    max-width: 100%;
    font-family: 'Inter Tight', sans-serif;
    background-size: contain;

    h1 {
        text-align: center;
        color: $color-text;
        padding: 20px;
    }
}

.parrafo {
    color: $color-text;
    justify-self: center;
    align-self: center;

    p {
        text-align: center;
        font-family: 'Inter Tight', sans-serif;
        font-size: large;
        padding: 50px 300px 50px 300px;
    }
}

.imagenIndex img {
    position: relative;
    border-radius: 20px;

    &:hover {
        opacity: 0.2;
    }
}